[submodule "face-react"]
	path = face-react
	url = https://github.com/specfocus/face-react.git
[submodule "face-uno"]
	path = face-uno
	url = https://github.com/specfocus/face-uno.git
[submodule "face-unity"]
	path = face-unity
	url = https://github.com/specfocus/face-unity.git
[submodule "face-wpf"]
	path = face-wpf
	url = https://github.com/specfocus/face-wpf.git
[submodule "face-winui3"]
	path = face-winui3
	url = https://github.com/specfocus/face-winui3.git
[submodule "face-winform"]
	path = face-winform
	url = https://github.com/specfocus/face-winform.git
[submodule "face-blazor"]
	path = face-blazor
	url = https://github.com/specfocus/face-blazor.git
[submodule "face-wasm"]
	path = face-wasm
	url = https://github.com/specfocus/face-wasm.git
[submodule "face-svelte"]
	path = face-svelte
	url = https://github.com/specfocus/face-svelte.git
[submodule "face-styled-components"]
	path = face-styled-components
	url = https://github.com/specfocus/face-styled-components.git
[submodule "face-svg-icons"]
	path = face-svg-icons
	url = https://github.com/specfocus/face-svg-icons.git
[submodule "face-react-icons"]
	path = face-react-icons
	url = https://github.com/specfocus/face-react-icons.git
[submodule "face-react-components"]
	path = face-react-components
	url = https://github.com/specfocus/face-react-components.git
